# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# VS Code
.vscode/
bin/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Java
*.class

# IDEs
.idea/
*.iml
*.ipr
*.iws
out/

# Temporary files
*.tmp
*.swp
*.swo
