# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
gradle-app.setting
.gradletasknamecache

# VS Code
.vscode/
bin/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
*~

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*

# IDEs
.idea/
*.iml
*.ipr
*.iws
out/
.classpath
.project
.settings/
*.launch

# Temporary files
*.tmp
*.swp
*.swo
*.bak

# Package Files
*.nar
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs
replay_pid*